@gamesContainerSel: .gamesContainer;

@{gamesContainerSel} .gamesTable tr {
    @height: 45px;
    height: @height;
    line-height: @height;
}

@{gamesContainerSel} .gamesTable tr {
    & > :first-child {
        width: 40px;
        text-align: center;
    }

    & .participantData {
        min-width: 180px;
    }

    & .matchDate {
        min-width: 150px;
    }
}

@postResultModalSel: #postResultModal;
@{postResultModalSel} #teamAPlayer,
@{postResultModalSel} #teamBPlayer {
    cursor: pointer;
}
