@points_sel: .pointsView;

@{points_sel} .classA {
    padding-right: 0px;
}

@{points_sel} .classB {
    padding-left: 0px;
    padding-right: 0px;
}

@{points_sel} .classB .class-header,
@{points_sel} .classB .list-unstyled {
    padding-left: ceil((@grid-gutter-width / 2));
}

@{points_sel} .teamName {
    width: 80%;
    min-width: 200px;
    display: inline-block;
}

@{points_sel} .teamNameParent {
    cursor: pointer;
}
