@template_sel: .teamsedit;

@{template_sel} .teamName {
    min-width: 150px;
}

@{template_sel} .teamClass {
    min-width: 100px;
    text-align: center;
}

@{template_sel} .teamPoints {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

@{template_sel} .teamPoints > input {
    width: 65%;
    margin: 0 auto;
}

@{template_sel} #new-team-form {
    margin-top: 15px;
}

@{template_sel} h1, @{template_sel} small {
    display: inline-block;
}

@{template_sel} .teamBaseRow {
    cursor: pointer;
}
