@template_sel: .teamsedit;

@{template_sel} .teamName {
    min-width: 150px;
}

@{template_sel} .teamBlock {
    min-width: 100px;
    text-align: center;
}

@{template_sel} #new-team-form {
    margin-top: 15px;
}
